.container {
  margin: 0 auto;
  position: relative;
}

.background-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  background-color: black;
  position: absolute;
  top: 0;
  opacity: 0.7;
}

.box-img {
  width: 70%;
  height: 300px;
  margin: -150px auto 0 auto;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 20px;
}

.name-movie {
  margin: 20px auto;
  text-align: center;
  color: white;
}

.box-cate {
  width: 100%;
  text-align: center;
}

.category-movie {
  background-color: transparent;
  color: var(--color-primary);
  margin: 0 auto;
  cursor: pointer;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px solid var(--color-primary);
}

.description {
  width: 50%;
  text-align: center;
  margin: 50px auto;
  color: white;
}

.title-cast {
  color: white;
  text-align: center;
  font-size: 28px;
  margin: 30px 0;
}

.box-cast {
  width: 70%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.cast-item {
  width: 220px;
  height: 300px;
}

.cast-item img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.name-cast {
  height: 10%;
  text-align: center;
  color: white;
  font-size: 16px;
}

.box-movie {
  padding: 40px 0;
  width: 100%;
  margin: 50px auto;
}

.movie-video {
  display: flex;
  justify-content: center;
}
.name-video {
  text-align: center;
  color: var(--color-primary);
  font-size: 16px;
}

.movie-item {
  margin: 40px;
}

// phim tuong tu
.title-similar {
  color: white;
  margin: 0 5px;
  cursor: pointer;
}
.movie-list {
  width: 1250px;
  margin: 0 auto;
}

@media (max-width: 769px) {
  .box-cast {
    flex-direction: column;
    align-items: center;
  }

  .cast-item {
    margin-bottom: 40px;
  }
}
