.scoll-top {
  position: fixed;
  width: 60px;
  bottom: 40px;
  right: 20px;
  height: 60px;
  background-color: white;
  text-align: center;
  font-size: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
}
