* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #f62682;
}
html {
  font-size: 63.5%;
}

body {
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: rgb(15 23 42);
}

a {
  text-decoration: none;
  color: white;
}
