.container {
  max-width: 1300px;
  margin: 0 auto;
}

.movie-list {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;

  .movie-item {
    margin: 20px;
  }
}
.paging {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  list-style: none;
  gap: 15px;
}

.selected a {
  color: var(--color-primary);
}

@media (max-width: 1140px) {
  .movie-list {
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 770px) and (max-width: 1023px) {
  .movie-list {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 769px) {
  .movie-list {
    grid-template-columns: auto auto;
  }
}
