.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.loading {
  margin: 0px auto;
  width: 50px;
  height: 50px;
  border: 7px solid var(--color-primary);
  border-top-color: transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-search {
  color: white;
  font-size: 20px;
  margin: 0 5px 10px 5px;
}

.custom-card {
}

.item-card {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
@media (max-width: 1140px) {
  .item-card {
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 770px) and (max-width: 1023px) {
  .item-card {
    grid-template-columns: auto auto auto;
  }
}

@media (max-width: 769px) {
  .item-card {
    grid-template-columns: auto auto;
  }

  .title-search {
    margin: 20px 10px;
  }
}
