.title {
  font-size: 24px;
  margin: 10px 0 20px 0;
  color: white;
}
.movie-item {
  display: inline-block;
  width: 245px;
  height: 390px;
  margin: 15px 10px 15px 5px;
  padding: 10px;
  background-color: rgb(30 41 59);
  border-radius: 15px;
  overflow: hidden;
}

// .movie-list {
//   display: grid;
//   gap: 10px;
//   grid-template-columns: auto auto auto auto auto;
// }
.box-img {
  width: 100%;
  height: 60%;
  border-radius: 10px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transform: scale(1);
  transition: 0.2s all linear;

  &:hover {
    transform: scale(1.2);
  }
}

.name-movie {
  padding: 8px 0;
  color: white;
}

.box {
  display: flex;
  justify-content: space-between;
  color: rgb(119, 117, 117);
  margin-bottom: 20px;
}
.icon-star {
  margin-left: 4px;
  color: yellow;
}

.info-movie {
  height: 90px;
  padding-top: 20px;
}

.bg-color {
  background-color: var(--color-primary);
}

.w-h {
  width: 100%;
}
